body{
  background-color:#fffafa;
  

}

.space{
  margin-left: 3rem;
}
.row1{
  position: relative;

}

.container-fluid{
  
  padding-top: 3rem;
}
.nav-link{
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
}
.navbar-brand{
  width: 150px;
  height: auto;
  
}
.navbar-expand-lg {
  background-color: rgb(253, 126, 0) ;/* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
/* PROFILE */

.container-3{
  margin: 2rem 2rem 2rem 2rem;
  background-color: #fffafa;
}
h5{
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  margin: -20px 20rem;
  position: absolute;
}
.container-4{
  margin: 11rem 3rem 3rem;
}
.row{
  margin-top: 15px;
}

.col{
font-size: 14px;
letter-spacing: 0px;
line-height: 1.2;
font-weight: 500;
 

}
.row-3{
  border-top: 5px solid rgba(253, 128, 0, 0.8);
  border-width: 100%;
}

.col-4{
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 3px;
  color: rgba(173, 172, 181);
   
}



.dropdown-3{
  margin: 18pt -130pt;
 }
.some-class{
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 500;
   

}

.radio{
  margin-left: 20px;
}
.col-draft{
  color: white;
  background-color: tomato;
}
.input-group{
  margin-top: 15px;
}
.space{
  height: 12px;
}
.container-2{
  margin-top: 2rem;
  background-color:#fffafa;
  width: auto;
  height: 33rem;
  border-radius: 20pt;
}
.mb-3{
  padding: 0px 5rem 5rem;
}
.container{
  position:fixed;
  margin: 80px 10px 10px
} 
h2{
 color: white;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  
}

/* Modal Content */
.modals{
  
  background-color: #fff;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.8);
  padding: 30px 50px;

}
.pos{
  margin-top: 3rem;
}
#myBtn{
  background-color: rgba(253, 128, 0, 0.8);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: -1rem;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: red;
  color: white;
}

.modal-body {padding: 2px 16px;}



/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
/* HOME */
.homebody{
  padding-top: 5rem;
  width: 100%;
  height: auto;
}
.rowr{
  margin: 3rem 5rem;
  color: rgb(253, 126, 0);
}
.news1{
  width: auto;
  height: 250px;
}
td{
  margin-left: 2rem;
  margin-right: 2rem;
}
.date{
  color: rgba(253, 128, 0, 0.8);
  font-weight: 500;
 
}

.upid{
font-size: 12px;
color: rgb(93, 89, 89);
}
.ig2{
margin: 25px -15rem
}
.box{
  margin: auto;
  display:none;
}
.ig3{
  margin: auto;
}
